<!-- {{{{raw-helper}}}} -->
<container class="lead">
	<row>
		<column class="text-left gutter padding-b mbl-pad-md">
			<h1 class="small-head">We're counting down the days</h1>
		</column>
	</row>
	<row>
		<column class="text-left gutter padding-b-xtra-large mbl-pad-md">
			<p class="sub-message">Your trip to {{ RESERVATION_UNIT_ADDRESS_CITY }} is in
				{{date RESERVATION_FIRST_NIGHT fromNow=RESERVATION_FIRST_NIGHT }}. Get
				ready by
				reviewing your
				reservation details and exploring add-ons.</p>
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
