<!-- {{{{raw-helper}}}} -->
<container class="lead">
	<row>
		<column class="text-left gutter padding-b mbl-pad-md">
			<h1 class="small-head">Start your vacation early</h1>
		</column>
	</row>
	<row>
		<column class="text-left gutter padding-b-xtra-large mbl-pad-md">
			<p class="sub-message">Good news—your Vacasa home in {{ RESERVATION_UNIT_ADDRESS_CITY }} will be ready ahead of
				schedule.<br />
				You’re welcome anytime after 11 a.m. on {{date RESERVATION_FIRST_NIGHT "dddd" datejs=false }}.</p>
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
