<!-- {{{{raw-helper}}}} -->
<container class="add-info">
	<row>
		<column class="padding-b-large text-gutter text-left mbl-pad-md">
			<h2 class="t_bloc">Additional info</h2>
		</column>
	</row>
	<row>
		<column class="padding-b-large text-gutter text-left mbl-pad-md">
			<h3 class="body-text">
				Changing or canceling your reservation
			</h3>

			<p class="body-text">
				If you need to cancel your trip or change the dates, give us a call at 800-544-0300. You
				can also cancel in your
				online <a href="https://www.vacasa.com/trip/">Trip Manager</a>.</p>
		</column>
	</row>
	<row>
		<column class="padding-b-large text-gutter text-left mbl-pad-md">
			<h3 class="body-text">
				Early check-in and late check-out
			</h3>

			<p class="body-text">
				We'll email you the morning of your arrival if early check-in is available, and two to three days before your
				departure if late check-out is available.</p>
		</column>
	</row>
	<row>
		<column class="padding-b-large text-gutter text-left mbl-pad-md">
			<h3 class="body-text">
				Accessing your Vacasa home
			</h3>

			<p class="body-text">
				We'll send you everything you need—including driving directions, entry codes, and internet access
				information—the week before your trip.</p>
		</column>
	</row>

	{{#if UNITS_WARNING_EMAIL_COPY }}
		<row>
			<column class="padding-b-large text-gutter text-left mbl-pad-md">
				<h3 class="body-text">
					Please Note
				</h3>

				<p class="body-text">
					{{{ UNITS_WARNING_EMAIL_COPY }}}</p>
			</column>
		</row>
	{{/if}}

</container>
<container>
	<row>
		<column large="1" small="1" class="icon-col-warn mbl-pad-md-l padding-t-xtra-small res-warn-icon">
			<img infer="retina" class="res-warn-icon"
				src="http://vacasa-email.imgix.net/icon-tier1-exclamation-circle.png?w=40" alt="Important information">
		</column>
		<column large="11" small="11" class="icon-text-gutter padding-b-large mbl-pad-md-r">
			<p class="info-text">We may send you text messages as part of this transaction, before check-in and shortly after
				check-out. These messages could include a link to download and manage your reservation in our mobile app and/or
				a link to leave a review of your stay.</p>
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
