<container>

	<row>
		<column class="padding-b-small left-col-item text-left mbl-pad-md" large="7" small="12">
			<p class="reservation-unit-address">
				<!-- raw-helper -->
				<span class="reservation-unit-name"><strong>{{ UNIT_NAME }}</strong></span><br />
				{{ RESERVATION_UNIT_ADDRESS_ADDRESS_1 }}<br />
				{{#if RESERVATION_UNIT_ADDRESS_ADDRESS_2 }}
					{{RESERVATION_UNIT_ADDRESS_ADDRESS_2}}<br />
				{{/if}}
				{{ RESERVATION_UNIT_ADDRESS_CITY }}, {{ RESERVATION_UNIT_ADDRESS_STATE }} {{ RESERVATION_UNIT_ADDRESS_ZIP }}
				<!-- /raw-helper -->
			</p>
		</column>
		<column class="padding-b right-col-item text-left mbl-pad-md" large="5" small="12">
			<p class="reservation-number">Confirmation: {{ RESERVATION_ID }}</p>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="padding-b mbl-pad-sm">
			<hr style="border-top:1px solid #CCD6DB; width: 100%; max-width:600px; height:1px;" />
		</column>
	</row>
	<row class="reservation-details">
		<column class="left-col-item padding-b mbl-pad-md" large="7" small="12">
			<span class="info-prehead">Check in</span>
			<p class="reservation-info-value">
				<!-- raw-helper -->
				{{date RESERVATION_CHECK_IN_TIME "ddd MMM D, h:mm a" }}
				<!-- /raw-helper -->
			</p>
		</column>
		<column class="right-col-item mbl-pad-md" large="5" small="12">
			<span class="info-prehead">Check out</span>
			<p class="reservation-info-value">
				<!-- raw-helper -->
				{{date RESERVATION_CHECK_OUT_TIME "ddd MMM D, h:mm a" }}
				<!-- /raw-helper -->
			</p>
		</column>
	</row>
	<row>
		<column class="padding-t padding-b mbl-pad-sm">
			<hr style="border-top:1px solid #CCD6DB; width: 100%; max-width:600px; height:1px;" />
		</column>
	</row>
	<row class="reservation-details">
		<column class="left-col-item mbl-pad-md" large="7" small="12">
			<span class="info-prehead">Guests</span>
			<p class="reservation-info-value">
				<!-- raw-helper -->
				{{ RESERVATION_ADULTS }} Adults, {{ RESERVATION_CHILDREN }} children, {{ RESERVATION_PETS }} dog(s)
				<!-- /raw-helper -->
			</p>
		</column>

		</column>
	</row>
</container>
<container>
	<row>
		<column class="left-btn padding-b-huge padding-t-xtra-large text-center mbl-pad-md">
			{{> t_primary-button-side label="View Your Trip" url="{{{ TRIP_PORTAL_URL }}}" b_utm=utm_add }}
		</column>
		<column large="5" small="0"></column>
	</row>
</container>
