<!-- {{{{raw-helper}}}} -->
{{#compare RESERVATION_SOURCE_NAME "==" "Airbnb"}}
	{{else}}
		<!-- {{{{/raw-helper}}}} -->
		<container>
			<row>
				<column class="gutter padding-b-large padding-t-small text-left  mbl-pad-md">
					<!--[if mso]><br /><br /><![endif]-->
					<!-- {{{{raw-helper}}}} -->
					<h3
						style="color: #003349; font-weight: 700; font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; line-height: 26px; margin: 0; text-align: left;">
						Who’s coming with?
					</h3>
					<p class="body-text">Add guests to your trip, and we’ll send them a copy of the itinerary and check-in info.
					</p>
					<!-- {{{{/raw-helper}}}} -->
				</column>
			</row>
		</container>

		<container>
			<row class="">
				<column class="left-btn padding-b-huge text-center mbl-pad-md">
					{{> t_secondary-button-side-add label="Add Guests" url="{{{ADD_GUEST_URL}}}" }}
				</column>
				<column large="5" small="0"></column>
			</row>
		</container>

		<container>
			<row>
				<column class="gutter padding-b-large">
					<hr style="border-top:1px solid #CCD6DB; width: 100%; max-width:592px; height:1px;" />
				</column>
			</row>
		</container>
		<!-- {{{{raw-helper}}}} -->
{{/compare}}
<!-- {{{{/raw-helper}}}} -->
