<!-- {{{{raw-helper}}}} -->
<container>
	<row class="reservation-details" style="background-color: #E5EAEC;">
		<column class="padding-t mbl-pad-md affirm-mobile-container" large="0" small="12">
			<img class="affirm-logo" style="width: 104px; margin: auto;"
				src="https://cdn-assets.affirm.com/images/black_logo-transparent_bg.png">
		</column>
	</row>

	<row class="reservation-details" style="background-color: #E5EAEC;">
		<column class="padding-t padding-b left-col-item mbl-pad-md-l" large="9" small="12">
			<h3 class="body-text header h3"
				style="color: #003349; font-weight: 700; font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; line-height: 26px; margin: 0; text-align: left;">
				Keep an eye on your inbox</h3>
			<p class="body-text text p"
				style="font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; line-height: 26px; margin: 0; text-align: left; color: #373737; display: block; font-weight: 400;">
				Since you're financing your trip with Affirm, they'll follow up directly with your monthly payment
				schedule and more details.<br />
				Questions? <a class="affirm-link" href="http://affirm.com/help">Learn more about using Affirm&nbsp;</a>&rarr;
			</p>
		</column>

		<column class="padding-t padding-b right-col-item text-right mbl-pad-md-r affirm-container" large="3" small="0">
			<img class="affirm-logo" src="https://cdn-assets.affirm.com/images/black_logo-transparent_bg.png">
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->

<style>
	@media only screen and (max-width: 600px) {
		.affirm-container {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.affirm-mobile-container {
			display: initial !important;
		}

		.mbl-pad-md {
			padding-left: 16px !important;
			padding-right: 16px !important;
		}

		.mbl-pad-md-l {
			padding-left: 16px !important;
		}

		.mbl-pad-md-r {
			padding-right: 16px !important;
		}

		p.body-text {
			font-size: 14px !important;
			line-height: 20px !important;
		}
	}

	.padding-t {
		padding-top: 16px;
	}

	.padding-b {
		padding-bottom: 16px;
	}

	.affirm-mobile-container {
		display: none;
	}

	.left-col-item {
		padding-left: 24px;
		padding-right: 4px;
	}

	.right-col-item {
		padding-left: 4px;
		padding-right: 24px;
	}

	h3.body-text {
		color: #000000;
		font-family: "Nunito Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 26px;
	}

	p.body-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		color: #373737;
	}

	.affirm-link {
		color: #003349 !important;
		text-decoration: none;
	}
</style>
