<container class="add-info">
	<row>
		<column class="padding-b padding-t-large text-gutter text-left mbl-pad-md">
			<h2 class="t_bloc">Need help?
			</h2>
			<p class="body-text text p"
				style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#373737;line-height:26px;text-align:left;">
				Find out how to review, update, or cancel your trip.</p>
		</column>
	</row>
</container>
<container>
	<row class="">
		<column class="left-btn padding-b-large text-center mbl-pad-md">
			{{> t_secondary-button-side label="Go to Support Center" url="https://www.vacasa.com/support?utm_source=transactional&utm_medium=email&utm_content=help&utm_campaign=tx-1-guest-reservation-confirmation" }}
		</column>
		<column large="5" small="0"></column>
	</row>
</container>
<!-- {{{{raw-helper}}}} -->
{{#if UNITS_WARNING_EMAIL_COPY }}
	<container class="add-info">
		<row>
			<column class="padding-b-large padding-t-large text-gutter text-left mbl-pad-md">
				<h2 class="t_bloc padding-b-small">{{#if UNITS_WARNING_EMAIL_COPY }}Additional info{{/if}}
				</h2>
				{{> tx-1-camd-ccrs }}

				<div>
					<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
						style="table-layout: fixed;">
						<tr>
							<td class="mbl-pad-md column col-sm-12" width="640"
								style="padding-right: 36px; padding-bottom: 24px; width: 100%; text-align: left" align="left"
								valign="top">
								<p class="body-text text p"
									style="display: block; margin: 0; font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; font-weight: 400; color: #373737; line-height: 26px; text-align: left;">
									{{{ UNITS_WARNING_EMAIL_COPY }}}
								</p>
							</td>
						</tr>
					</table>
				</div>

			</column>
		</row>
	</container>
{{/if}}
{{#contains RESERVATION_CHECK_IN_TIME "September"}}
	<container class="add-info">
		<row>
			<column class="padding-b-large padding-t-large text-gutter text-left mbl-pad-md">
				<div class="container-bg" style="margin:0 auto;width:100%;max-width:640px;background-color: #ffffff;">
					<table role="presentation" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="100%" align="left" valign="top" style="padding:0;">
								{{> tx-1-travel-advisory }}
							</td>
						</tr>
					</table>
				</div>

			</column>
		</row>
	</container>
{{/contains}}
<container>
	<row>
		<column large="1" small="1" class="left-col-item mbl-pad-md-l padding-t-xtra-small res-warn-icon">
			<img infer="retina" class="res-warn-icon"
				src="http://vacasa-email.imgix.net/icon-tier1-exclamation-circle.png?w=40" alt="Important information">
		</column>
		<column large="11" small="11" class="icon-text-gutter padding-b-large mbl-pad-md-r">
			<p class="info-text">We may send you text messages as part of this transaction, before check-in and
				shortly
				after check-out. These messages could include a link to download and manage your reservation in our
				mobile
				app and/or a link to leave a review of your stay.
			</p>
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
</column>
</row>
</container>
