{{#compare UNIT_CODE "===" "CAMD09"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout: fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-left: 24px; padding-right: 36px; padding-bottom: 24px;width: 100%; text-align: left"
					align="left" valign="top">
					<p class="body-text text p"
						style="display: block; margin: 0; font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; font-weight: 400; color: #373737; line-height: 26px; text-align: left;">
						As a guest of {{ RESERVATION_UNIT_NAME }}, you’re entitled to documentation of community guidelines. No
						action is needed on your part. To download the guidelines, <a
							href="https://www.vacasa.com/documents/224/SEA_-_CCRs_2nd_Amendment_and_Reinstatement_1_1.pdf"
							target="_blank">click here</a>.
					</p>
				</td>
			</tr>
		</table>
	</div>
{{/compare}}
{{#compare UNIT_CODE "===" "CAMD13"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout: fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-left: 24px; padding-right: 36px; padding-bottom: 24px;width: 100%; text-align: left"
					align="left" valign="top">
					<p class="body-text text p"
						style="display: block; margin: 0; font-family: 'Nunito Sans',Arial,sans-serif; font-size: 16px; font-weight: 400; color: #373737; line-height: 26px; text-align: left;">
						As a guest of {{ RESERVATION_UNIT_NAME }}, you’re entitled to documentation of community guidelines. No
						action is needed on your part. To download the guidelines, <a
							href="https://www.vacasa.com/documents/224/SEA_-_CCRs_2nd_Amendment_and_Reinstatement_1_1.pdf"
							target="_blank">click here</a>.
					</p>
				</td>
			</tr>
		</table>
	</div>
{{/compare}}
