<!--NEW YORK--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "NY"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#000000;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#373737;line-height:26px;text-align:left;padding-bottom: 12px;">
						All guests traveling to New York <strong>must complete the following form</strong> in advance of their
						arrival.<br /> <a
							href="https://coronavirus.health.ny.gov/covid-19-travel-advisory?gclid=EAIaIQobChMIjuz7uea06wIVtx-tBh1Z1AG1EAAYASAAEgK1GPD_BwE"
							target="_blank" style="text-decoration: none; cursor: pointer; font-weight: bold;color:#0078ab">Complete
							New York Travel Form&nbsp;&#x203A;</a></p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
<!--NEW HAMPSHIRE--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "NH"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#2C3439;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						You’ll receive an email from us several days before check-in about New Hampshire quarantine requirements.
						This email will include a compliance form that all guests are required to sign and return to us no later
						than 72 hours before check-in. Please keep an eye out for this important message.</p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
<!--MASSACHUSETTS--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "MA"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#2C3439;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						All travelers arriving in Massachusetts <a href="https://www.mass.gov/info-details/covid-19-travel-order"
							target="_blank" style="text-decoration: none; cursor: pointer; font-weight: bold;color:#0078ab"
							style="text-decoration: none; color: #0078AB;"> must self-quarantine for 14 days, with certain
							exemptions</a>.</p>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						In addition, all travelers over 18 and unaccompanied minors must complete the online <a
							href="https://www.mass.gov/forms/massachusetts-travel-form" target="_blank"
							style="text-decoration: none; cursor: pointer; font-weight: bold;color:#0078ab"
							style="text-decoration: none; color: #0078AB;">Massachusetts Travel Form</a> upon or prior to entering the
						state, unless you are traveling from a <a
							href="https://www.mass.gov/info-details/covid-19-travel-order#lower-risk-states-" target="_blank"
							style="text-decoration: none; cursor: pointer; font-weight: bold;color:#0078ab"
							style="text-decoration: none; color: #0078AB;">lower-risk state</a> or fall within certain, limited <a
							href="https://www.mass.gov/info-details/covid-19-travel-order#massachusetts-travel-form-" target="_blank"
							style="text-decoration: none; cursor: pointer; font-weight: bold;color:#0078ab"
							style="text-decoration: none; color: #0078AB;">exemption criteria</a>. The travel form requires you to
						certify that you will abide by the quarantine requirements, that you have received a recent negative
						COVID-19 test, or that you are awaiting test results or intend to be tested upon arrival and that you will
						quarantine until you receive a negative test result.</p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
<!--VERMONT--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "VT"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#2C3439;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						You’ll receive an email from us several days before check-in about Vermont quarantine requirements. This
						email will include a compliance form that you are required to fill out and return to us no later than 72
						hours before check-in. Please keep an eye out for this important message.</p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
<!--HAWAII--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "HI"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#2C3439;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						<strong>You should receive an email within the next 24 hours about Hawaii quarantine requirements. This
							email will include a compliance form that all guests are required to sign and return to us within 72 hours
							of receiving the email. Please keep an eye out for this important message.</strong>
					</p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
<!--NEW MEXICO--->
{{#compare RESERVATION_UNIT_ADDRESS_STATE "==" "NM"}}
	<div>
		<table width="100%" align="center" role="presentation" border="0" cellpadding="0" cellspacing="0"
			style="table-layout:fixed;">
			<tr>
				<td class="mbl-pad-md column col-sm-12" width="640"
					style="padding-top:16px;padding-left:0px;padding-right:0px;padding-bottom:24px;width:100%;text-align:left"
					align="left" valign="top">
					<h3 class="body-text header h3"
						style="margin:0;color:#2C3439;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:700;line-height:26px;text-align:left;">
						Please note</h3>
					<p class="body-text text p"
						style="display:block;margin:0;font-family:'Nunito Sans',Arial,sans-serif;font-size:16px;font-weight:400;color:#2C3439;line-height:26px;text-align:left;padding-bottom: 12px;">
						Due to state regulations, please be advised that all travelers to New Mexico from out of state, including
						those who have gone through an airport and whose point of departure originates outside of New Mexico, must
						self-quarantine for at least 14 days or for the duration of their stay (whichever is shorter).</p>
				</td>
			</tr>
		</table>
	</div>
	{{else}}
{{/compare}}
