<container>
	<row>
		<column class="padding-t padding-b-large gutter mbl-pad-md">
			<hr style="border-top:1px solid rgb(229, 235, 237); width: 100%; max-width:600px; height:1px;" />
		</column>
	</row>
	<row>
		<column class="gutter padding-b-small mbl-pad-md">
			<h3 class="vacasa-banner">
				Book&nbsp;confidently. Stay&nbsp;comfortably.
				<!--[if mso]><br /><br /><![endif]-->
			</h3>
		</column>
	</row>
	<row>
		<column class="gutter padding-b-small mbl-pad-md">
			<p class="vacasa-banner">
				24/7&nbsp;Support&nbsp;&nbsp;&nbsp;|&#32;&nbsp;&#32;Easy&nbsp;check-in&nbsp;&nbsp;&nbsp;|&#32;&nbsp;&#32;Professional&nbsp;cleaning
			</p>
		</column>
	</row>
	<row>
		<column class="gutter padding-b-large padding-t mbl-pad-md">
			<img infer=retina height="24" src="http://vacasa-email.imgix.net/h_logo_light.png?h=48" alt="Vacasa" />
		</column>
	</row>
	<row>
		<column class="gutter mbl-pad-md">
			<p class="footer-address">
				&copy; 2019 Vacasa LLC | 850 NW 13th Ave., Portland, OR 97209
			</p>
		</column>
	</row>
	<row>
		<column class="gutter mbl-pad-md padding-b">
			<p class="privacy-terms">
				<a href="#">Privacy & Terms</a>
			</p>
		</column>
	</row>
</container>
