<container>

	<row>
		<column class="padding-b text-left left-col-item mbl-pad-md" large="7" small="12">
			<a href="{{{ url }}}" target="_blank">
				<h2 class="t_bloc">In the home</h2>
			</a>
		</column>
	</row>
</container>

<container>
	<row class="reservation-details res-txt">
		<column large="7" small="12" class="left-col-item amenity-name mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/Icon-shampoo.png?h=48"
				alt="Shampoo icon"><span>&nbsp;&nbsp;Shampoo, conditioner, and soap</span><br /><br />

			{{#or UNIT_AMENITIES_MAP_TOWELSPROVIDED UNIT_AMENITIES_MAP_LINENSPROVIDED }}
				{{#and UNIT_AMENITIES_MAP_TOWELSPROVIDED UNIT_AMENITIES_MAP_LINENSPROVIDED }}
					<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-tier1-linens.png?h=48"
						alt="Towels icon"><span>&nbsp;&nbsp;Fresh linens and towels</span><br /><br />
					{{else}}
						{{#if UNIT_AMENITIES_MAP_TOWELSPROVIDED }}
							<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-tier1-linens.png?h=48"
								alt="Towels icon"><span>&nbsp;&nbsp;Clean towels</span><br /><br />
						{{else}}
							<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-tier1-linens.png?h=48"
								alt="Towels icon"><span>&nbsp;&nbsp;Fresh linens</span><br /><br />
						{{/if}}
				{{/and}}
			{{/or}}

			{{#or UNIT_AMENITIES_MAP_FRYPANLARGE UNIT_AMENITIES_MAP_FRYPANSMALL UNIT_AMENITIES_MAP_POTLARGE UNIT_AMENITIES_MAP_POTMEDIUM UNIT_AMENITIES_MAP_POTSMALL}}
				<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-cooking.png?h=48"
					alt="Pots and pans icon"><span>&nbsp;&nbsp;Cookware and dishes</span><br /><br />
			{{/or}}

		</column>
		<column large="5" small="12" class="right-col-item amenity-name padding-b mbl-pad-md">
			<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-cleaning-two.png?h=48"
				alt="Cleaning supplies icon"><span>&nbsp;&nbsp;Basic cleaning supplies</span><br /><br />
			{{#if RESERVATION_WIFI}}
				<img inline infer="retina" src="https://vacasa-email.imgix.net/icon-wifi.png?h=48"
					alt="Wifi icon"><span>&nbsp;&nbsp;Internet Access</span>
			{{/if}}

		</column>

	</row>
</container>

<container>
	<row>
		<column class="left-btn padding-b-huge padding-t button text-center mbl-pad-md">
			{{> t_secondary-button-side label="View All Amenities" url=unit_1_url b_utm=utms }}
		</column>
		<column large="5" small="0"></column>
	</row>
</container>
