<!-- {{{{raw-helper}}}} -->
<container class="res-info-pane" style="background-color: #F5F7F8;">
	<row style="background: #F5F7F8;" class="res-info-pane top-row">
		<column style="background: #F5F7F8;" large="10" small="10" class="left-panel-item padding-t-large padding-b">
			<a href="{{{ TRIP_PORTAL_URL }}}">
				<h3 class="t_bloc padding-b-small txt-center">How would you rate your stay?
				</h3>
				<p class="sub-body">Reviews help us provide great vacations to future guests.
				</p><br />
			</a>
			<a href="{{{REVIEW_URL_NO_UTM}}}&utm_review={{{ RESERVATION_ID }}}&utm_source=transactional&utm_medium=email&utm_campaign=tx-9_guest-reservation-checkout-instructions&utm_content=c-star_1&star-rating=1"
				title="1"><img inline style="margin: 0 auto;" src="http://vacasa-email.imgix.net/icon-star-filled.png?w=45"
					alt="Click to rate 1 stars"></a>&nbsp;&nbsp;<a
				href="{{{REVIEW_URL_NO_UTM}}}&utm_review={{{ RESERVATION_ID }}}&utm_source=transactional&utm_medium=email&utm_campaign=tx-9_guest-reservation-checkout-instructions&utm_content=c-star_1&star-rating=2"
				title="2"><img inline style="margin: 0 auto;" src="http://vacasa-email.imgix.net/icon-star-filled.png?w=45"
					alt="Click to rate 2 stars"></a>&nbsp;&nbsp;<a
				href="{{{REVIEW_URL_NO_UTM}}}&utm_review={{{ RESERVATION_ID }}}&utm_source=transactional&utm_medium=email&utm_campaign=tx-9_guest-reservation-checkout-instructions&utm_content=c-star_1&star-rating=3"
				title="3"><img inline style=" margin: 0 auto;" src="http://vacasa-email.imgix.net/icon-star-filled.png?w=45"
					alt="Click to rate 3 stars"></a>&nbsp;&nbsp;<a
				href="{{{RATE_URL_NO_UTM}}}&utm_review={{{ RESERVATION_ID }}}&utm_source=transactional&utm_medium=email&utm_campaign=tx-9_guest-reservation-checkout-instructions&utm_content=c-star_1&star-rating=4"
				title="4"><img inline style="margin: 0 auto;" src="http://vacasa-email.imgix.net/icon-star-filled.png?w=45"
					alt="Click to rate 4 stars"></a>&nbsp;&nbsp;<a
				href="{{{RATE_URL_NO_UTM}}}&utm_review={{{ RESERVATION_ID }}}&utm_source=transactional&utm_medium=email&utm_campaign=tx-9_guest-reservation-checkout-instructions&utm_content=c-star_1&star-rating=5"
				title="5"><img inline style="margin: 0 auto;" src="http://vacasa-email.imgix.net/icon-star-filled.png?w=45"
					alt="Click to rate 5 stars"></a>

		</column>
		<column style="background: #F5F7F8;" large="2" small="2" class="padding-t-large">
			<a href="{{{ TRIP_PORTAL_URL }}}"><img class="icon" src="http://vacasa-email.imgix.net/external-link.png?h=24"
					alt="Click to view your reservation in the Trip Portal"></a>
		</column>
	</row>
	<row>
		<column class="gutter padding-b padding-t-large mbl-pad-md" style="background: #ffffff;">
			<p class="sub-body">We appreciate your help, and can’t wait to host you again.

			</p>
		</column>
	</row>
</container>

<container>
	<row>
		<column class="padding-b-huge">
		</column>
	</row>
</container>
<!-- {{{{/raw-helper}}}} -->
