<container>

	<row>
		<column class="padding-b text-left gutter mbl-pad-md" large="7" small="12">
			<h2 class="t_bloc">Your Receipt</h2>
		</column>
	</row>
</container>

<container>
	<row class="reservation-details">
		<column class="left-col-item mbl-pad-md-l" large="7" small="6">
			<p class="reservation-info-value">
				Total cost
			</p>
		</column>
		<!-- {{{{raw-helper}}}} -->
		<column class="right-col-item text-right  mbl-pad-md-r" large="5" small="6">
			<p class="reservation-info-value">
				${{ RESERVATION_TOTAL }}
			</p>
		</column>
	</row>
	<row class="reservation-details">
		<column class="left-col-item mbl-pad-md-l" large="7" small="6">
			<p class="reservation-info-value">
				Total paid
			</p>
		</column>
		<column class="right-col-item text-right mbl-pad-md-r" large="5" small="6">
			<p class="reservation-info-value">
				-&nbsp;${{ RESERVATION_PAID }}
			</p>
		</column>
	</row>
	<row>
		<column class="padding-t padding-b mbl-pad-sm">
			<hr style="border-top:1px solid #CCD6DB; width: 100%; max-width:600px; height:1px;" />
		</column>
	</row>
	<row class="reservation-details">
		<column class="left-col-item mbl-pad-md-l" large="7" small="6">
			<p class="reservation-info-value">
				<strong>Balance</strong>
			</p>
		</column>
		<column class="right-col-item text-right mbl-pad-md-r" large="5" small="6">
			<p class="reservation-info-value">
				<strong>${{ RESERVATION_BALANCE }}</strong>
			</p><!-- {{{{/raw-helper}}}} -->
		</column>
	</row>
</container>
<container>
	<row>
		<column class="left-btn padding-b-huge padding-t-xtra-large text-center mbl-pad-md">
			{{> t_secondary-button-side label="View Receipt" url="{{{ TRIP_PORTAL_URL }}}" b_utm=utms }}
		</column>
		<column large="5" small="0"></column>
	</row>
</container>
